In [1]:
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt

In [10]:
url = 'https://raw.githubusercontent.com/umaimehm/Intro_to_AI/master/Lab5/LinearRegression/canada_per_capita_income.csv'
df = pd.read_csv(url)

In [11]:
df.head(5)

   year       income
0  2010  38420.52289
1  2011  42334.71121
2  2012  42665.25597
3  2013  42676.46837
4  2014  41039.89360

In [13]:
inputData = df.drop('income' , axis = 'columns')

In [14]:
type(inputData)

pandas.core.frame.DataFrame

In [15]:
income = df.income
type(income)

pandas.core.series.Series

In [16]:
inputData

    year
0   2010
1   2011
2   2012
3   2013
4   2014
5   2015
6   2016
7   2017
8   2018
9   2019
10  2020

In [17]:
income

0     38420.52289
1     42334.71121
2     42665.25597
3     42676.46837
4     41039.89360
5     35175.18898
6     34229.19363
7     42975.31000
8     44148.59000
9     45321.86000
10    46495.14000
Name: income, dtype: float64